body {
  font-family: Helvetica Nueue, Helvetica, sans-serif;
  font-weight: 200;
  background: url('assets/aaliyah.jpeg') 0px 0px / 100% no-repeat;
  display: block;
  position: relative
}

audio {
  position: relative;
  display: block;
}

table {
  position: relative;
  display: inline-block;
  height: 200px;
  width: 350px;
  text-align: center;
}


td:nth-child(2):hover {
  -webkit-transition: 0.25s;
  color: white;
  cursor: pointer;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: auto;
}
